.idea/*
multi-data-source/target/*
Springboot-redis/target/*
Springboot-redis/Springboot-redis.iml
XMLParse/XMLParse/.*
FileUpload/.*
WordTest/WordTest/.*
Springboot-Security-demo/target/*
Springboot-Security-demo/Springboot-Security-demo.iml
